* {
    box-sizing: content-box;
}

    #box-5 {
        width: 100px;
        height: 100px;
        background: #12FF35;
        padding: 20px;
        border: 10px solid #0307ff
    }

    /* box-sizing: border-box
        deixa comprimido as alteraçoes da div
        e mantem o width e height 100/100px
        
        box-sizing: content-box
        vai acoplando e aumentando
        o tamanho da sua div
    */